.container {
  max-width: 1280px;
  min-width: 320px;
  margin-right: auto;
  margin-left: auto;
}

.tabs-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 1280px;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
  gap: 2rem;
}

.content {
  margin-top: 2rem;
}

.btn-group {
}

.btn {
  font-size: 1.125rem;
  width: 314px;
  height: 50px;
  margin-right: auto;
  margin-bottom: 8px;
  margin-left: auto;
}
