.root {
  display: flex;
  min-height: 258px;
//   margin-right: auto;
//   margin-left: auto;
  padding: 2rem;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: #000;
}

.flex {
  display: flex;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: stretch;
  align-content: stretch;
  grid-column-gap: 80px;
  grid-row-gap: 2rem;
}

.jedi-text-block {
  width: 245px;
  height: 192px;
  font-family: 'Roboto Condensed', sans-serif;
  color: #fff;
  font-size: 2rem;
  line-height: 150%;
  font-weight: 300;
  letter-spacing: 13px;
}

.content {
  display: flex;
  max-width: 653px;
  flex-direction: column;
  flex-wrap: wrap;
}

.btn-group {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
}

.statement-block {
  display: flex;
  max-width: 653px;
  margin-bottom: 1.5rem;
  flex-wrap: wrap;
  font-family: Roboto, sans-serif;
  color: #fff;
  font-size: 1rem;
  line-height: 1.5rem;
}

@media screen and (max-width: 479px) {
  .jedi-text-block {
    height: auto;
    font-size: 2rem;
  }
  .statement-block {
    font-size: 1rem;
    font-weight: 300;
  }
}

@media screen and (max-width: 991px) {
  .flex {
    flex-direction: column;
  }
  .btn-group {
    justify-content: center;
  }
  .statement-block {
    display: block;
  }
}
