body {
  font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// #container {
//   padding: 0 !important;
//   width: 0 !important;
// }

*,
*::before,
*::after {
  box-sizing: border-box;
}

html body {
  padding: 0;
  margin: 0;
  overflow-y: inherit;
}

strong {
  font-weight: 800;
}

ul,
ol,
li {
  margin: auto;
  padding: 0;
  list-style-type: none;
}

p,
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
