body {
  font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// #container {
//   padding: 0 !important;
//   width: 0 !important;
// }

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  /* this makes sure the padding and the border is included in the box sizing */
  box-sizing: border-box;
  overflow-y: hidden;
}

html body {
  padding: 0;
  margin: 0;
  overflow-y: inherit;
}

p {
  margin-bottom: 1em;
}

h1 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 2.25em;
  line-height: 2.625em;
  text-align: center;
  letter-spacing: 0.07em;
  color: #ffcc00;
  text-shadow: 0px 0.25em 0.5em rgba(0, 0, 0, 0.25);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
